.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: transparent;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
}

.modal-close {
  position: absolute;
  top: 50px;
  right: 10px;
  background: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 1001;
  padding: 0;
  color: #333;
}

.modal-close:hover {
  background: #cfcfcf;
}
