.auth-container {
  position: relative;
  margin: 200px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 16px;

  background-color: transparent;
  box-shadow: 0rem 0.3rem 10px 5px #e8e8e8;

  z-index: 1;
}

.login-box,
.signup-box {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.login-body.active,
.signup-body.active {
  z-index: 4;
}
.login-tab {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 70px;

  background: #dcdcdc;
  border-radius: 10px 10px 0 0;

  z-index: 3;
}

.login-body {
  margin-top: 60px;
  height: 350px;

  background: #dcdcdc;
  border-radius: 16px;

  z-index: 2;
}

.signup-tab {
  position: absolute;
  left: 200px;
  width: 200px;
  height: 70px;

  background: #cdcdcd;
  border-radius: 10px 10px 0 0;

  z-index: 3;
}

.signup-body {
  margin-top: 60px;
  height: 350px;

  background: #cdcdcd;
  border-radius: 16px;

  z-index: 2;
}

button {
  text-align: center;

  z-index: 5;
}
