.auth-container {
  position: relative;
  margin: 200px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 16px;

  background-color: transparent;
  
  z-index: 1;
}

.login-box,
.signup-box {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.login-box.active,
.signup-box.active {
  z-index: 4;
}

.login-box .login-tab,
.signup-box .signup-tab {
  pointer-events: auto;
}

.login-body.active,
.signup-body.active {
  display: block;
  z-index: 5;
  pointer-events: auto;
}

.login-tab {
  position: absolute;
  left: 0px;
  width: 200px;
  height: 70px;

  background: #81C784;
  border-radius: 10px 10px 0 0;

  z-index: 1;
}

.login-body {
  display: none;
  margin-top: 60px;
  height: 350px;

  background: #81C784;
  border-radius: 12px;

  z-index: 2;
}

.signup-tab {
  position: absolute;
  left: 200px;
  width: 200px;
  height: 70px;

  background: #4CAF50;
  border-radius: 10px 10px 0 0;

  z-index: 1;
}

.signup-body {
  display: none;
  margin-top: 60px;
  height: 350px;

  background: #4CAF50;
  border-radius: 12px;

  z-index: 2;
}

.login-btn,
.signup-btn {
  width: 100%;
  text-align: start;
  padding: 1rem;
  z-index: 5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(223, 223, 223) inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}
