header nav {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  margin: 20px 0 0 20px;
  width: auto;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  display: flex;
  align-items: center;
  margin: 0px 20px 0 0;
}

header nav a {
  cursor: pointer;
  text-decoration: none;
  outline-style: none;
}

header nav a:hover {
  color: #2e7d32;
}

@media (max-width: 399px) {
  header nav {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  header nav button {
    order: 2;
    position: absolute;
    right: 0;
    top: 0;
  }

  .welcome {
    display: block;
    width: 100vw;
  }

  .mobile-login {
    display: block;
    width: 100vw;
    text-align: end;
    padding-right: 1.5rem;
    margin-top: -1.75rem !important;
  }
}

/* @media (max-width: 350px) {
  .mobile-login {
    display: block;
    width: 100vw;
    text-align: center;
  }
} */
