@import "tailwindcss";

button {
  cursor: pointer;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b2b2b;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

/* for reference only */
Color Palette {
  primary: #4caf50 Accents #81c784 #2e7d32 text #2b2b2b Bg if needed #ffffff;
}
